PHX_HOST=localhost
PORT=4000
SECRET_KEY_BASE=replace_me
MIX_ENV=dev
DATABASE_URL=ecto://postgres:postgres@localhost/zer0_stream_dev

# Production/container deployment only
# DATABASE_URL=ecto://user:password@external-db-host:5432/zer0_stream_prod
# PHX_HOST=stream.example.com
